@model IEnumerable<Assignment2.Models.IndexViewModel>

@using Microsoft.AspNetCore.Http
@{
    Layout = "_Layout";
}

<div style="padding-bottom:9px; margin: 40px 0 20px; border-bottom: 1px solid #eee; box-sizing: border-box">
    <h3>Welcome, @Context.Session.GetString("_firstName") @Context.Session.GetString("_lastName")</h3>
</div>

<br />
<br />

<div class="col-12">
    @if (Model.Count() == 0)
    {
        <table class="table table-striped table-hover table-responsive">
            <tbody>
                <tr>
                    <td colspan="6">There are currently no blogs posted.<br /><br /></td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        @foreach (var item in Model)
        {
            if (item.BlogPost.IsAvailable)
            {
                <div style="margin-bottom: 4rem">
                    <h2 style="margin-bottom: .25rem; font-size: 2.5rem"><a asp-controller="Home" asp-action="DisplayFullBlogPost" asp-route-id="@item.BlogPost.BlogPostId">@item.BlogPost.Title</a></h2>
                    <p style="margin-bottom: 1.25rem; color: #999">
                        @item.BlogPost.Posted.ToString(@"MMMM dd, yyyy") by <a href="#">@item.User.FirstName @item.User.LastName</a>
                    </p>
                    <p>
                        @item.BlogPost.ShortDescription
                    </p>
                    @if (Context.Session.GetInt32("_userId") != null && Context.Session.GetInt32("_roleId") == 2)
                    {
                        <a asp-controller="Home" class="btn btn-sm btn-primary" asp-action="EditBlogPost" asp-route-id="@item.BlogPost.BlogPostId">Edit Post</a>
                        <a asp-controller="Home" class="btn btn-sm btn-danger" asp-action="DeleteBlogPost" asp-route-id="@item.BlogPost.BlogPostId">Delete Post</a>
                    }
                    <hr />
                </div>
            }
        }
    }
</div>
